<%- include('./includes/header'); %>

<div class="container my-5">
	<h4>Selamat Datang</h4>
	<div>
		<p class="text-capitalize mb-2"><%= locals.user.nama %></p>
		<a href="/logout">Logout</a>
	</div>
</div>

<%- include('./includes/footer'); %>
