<%- include('./includes/header'); %>

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>Kultur di Provinsi Bali</h1>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-7">
      <h2>Tradisi Mabes Bangke</h2>
      <p>
        Sebuah budaya dan tradisi yang benar-benar ekstrim dan unik di pulau Bali. Tradisi ini berlangsung di Banjar
        Buruan, Tampak Siring, Gianyar. Tradisi ini memang sangat unik, tradisi Mesbes Bangke atau mencabik-cabik mayat
        terlihat mengerikan dan menyeramkan.
      </p>
    </div>
    <div class="col-md-5">
      <img src="/storage/kultur1.jpg" class="img-fluid" alt="" />
    </div>
  </div>
  <hr class="featurette-divider" />
  <div class="row mb-5">
    <div class="col-md-5">
      <img src="/storage/kultur2.jpg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-7">
      <h2>Tradisi Ende Seraya</h2>
      <p>
        Atraksi ini dikenal juga dengan perang rotan, yang mana dua orang laki-laki berhadap-hadapan dan saling serang
        dengan sebatang rotan sepanjang 1.5-2 meter kemudian tangan satunya memegang tameng untuk menangkis serangan
        lawan.
      </p>
      <p>
        Tujuan utama dari prosesi Gebug Ende ini adalah ritual tradisional untuk memohon hujan, dan ini dilakukan pada
        musim kemarau yaitu di bulan Oktober – Nopember setiap tahunnya.
      </p>
    </div>
  </div>

  <%- include('./includes/footer'); %>
</div>
