<%- include('./includes/header'); %>
<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.water-sport-bali.com/wp-content/uploads/2013/01/Kuta-Bali-Sunset-View.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pantai Kuta</h5>
      <p class="card-text">Pantai Kuta adalah sebuah tempat pariwisata yang terletak di kecamatan Kuta, sebelah selatan Kota Denpasar, Bali, Indonesia. Disini kita bisa berenang, berselancar, menikmati keindahan pantai, dokar dan belanja baju dan souvenir.<a href="https://travel.kompas.com/read/2016/05/07/080600127/7.Hal.yang.Bisa.Dilakukan.di.Pantai.Kuta.Bali?page=all"> See more</a></p>
      <a href="https://goo.gl/maps/dgNwcHXwrRnZZhK98" class="btn btn-primary">Show maps</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://www.water-sport-bali.com/wp-content/uploads/2016/04/Sunset-Di-Pantai-Tanah-Lot.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pura Tanah Lot</h5>
      <p class="card-text">Pura Tanah Lot adalah salah satu Pura (Tempat Ibadah Umat Hindu) yang sangat disucikan di Bali, Indonesia. Di sini kita bisa menyaksikan ular - ular di Gua Ular Suci, menjelajahi pura, melihat upacara agama, dan lain lain.<a href="https://www.idntimes.com/travel/tips/naufal-al-rahman-1/aktivitas-menarik-di-tanah-lot-bali?page=all"> See more</a></p>
      <a href="https://goo.gl/maps/Q374qi1WQ1i6Z7Kt9" class="btn btn-primary">Show maps</a>
    </div>
  </div>
</div>

  <%- include('./includes/footer'); %>