<%- include('./includes/header'); %>
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Places of Bali</h2>

  <div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.water-sport-bali.com/wp-content/uploads/2013/01/Kuta-Bali-Sunset-View.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pantai Kuta</h5>
        <p class="card-text">Pantai Kuta adalah sebuah tempat pariwisata yang terletak di kecamatan Kuta, sebelah selatan Kota Denpasar, Bali, Indonesia. Disini kita bisa berenang, berselancar, menikmati keindahan pantai, dokar dan belanja baju dan souvenir.<a href="https://travel.kompas.com/read/2016/05/07/080600127/7.Hal.yang.Bisa.Dilakukan.di.Pantai.Kuta.Bali?page=all"> See more</a></p>
        <a href="https://goo.gl/maps/dgNwcHXwrRnZZhK98" class="btn btn-primary">Show maps</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://www.water-sport-bali.com/wp-content/uploads/2016/04/Sunset-Di-Pantai-Tanah-Lot.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pura Tanah Lot</h5>
        <p class="card-text">Pura Tanah Lot adalah salah satu Pura (Tempat Ibadah Umat Hindu) yang sangat disucikan di Bali, Indonesia. Di sini kita bisa menyaksikan ular - ular di Gua Ular Suci, menjelajahi pura, melihat upacara agama, dan lain lain.<a href="https://www.idntimes.com/travel/tips/naufal-al-rahman-1/aktivitas-menarik-di-tanah-lot-bali?page=all"> See more</a></p>
        <a href="https://goo.gl/maps/Q374qi1WQ1i6Z7Kt9" class="btn btn-primary">Show maps</a>
      </div>
    </div>
  </div>

  <% if(locals.user != null) { %>
    <hr class="my-4">

    <div class="row">
      <div class="col-md-4 col-lg-6">
        <h4 class="mb-3">Review Users</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Nama Lengkap</label>
              <input type="text" name="username" class="form-control" id="username" readonly required>
            </div>
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Komentar</label>
              <textarea name="review" class="form-control">
  
              </textarea>
            </div>
          </div>
  
          <hr class="my-4">
  
          <button class="w-100 btn btn-primary btn-lg" type="submit">Tambah Komentar</button>
        </form>
      </div>
  
      <div class="col-md-4 col-lg-6">
        <h4 class="mb-3">&nbsp;</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-12">
              <label for="firstName" class="form-label"><b>Nama Lengkap</b></label>
            </div>
            <div class="col-sm-12">
              <label for="firstName" class="form-label">Isi Komentar</label>
            </div>          
          </div>
          <hr class="my-4">
        </form>
      </div>    
    </div>
  <% } %>
</div>

  <%- include('./includes/footer'); %>