<%- include('./includes/header'); %>

  <div class="container">
    <div class="text-center md-7">
      <h2>Rumah Adat Provinsi Bali</h2>
    </div>
    <div class="my-4">
      <h2>Rumah Adat Klumpu Jineng</h2>
      <p>Model yang satu ini merupakan bangunan rumah adat Bali yang paling unik. Bentuknya seperti rumah panggung kecil
        dengan bagian luar dinding menggunakan jerami kering. Klumpu Jineng sendiri merupakan lumbung pangan yang
        difungsikan untuk menaruh gabah setelah dijemur.</p>
      <p>
        Rumah adat klumpu jineng terletak tepatnya di dalam kompleks bangunan rumah tradisional Bali. Jineng biasanya
        dimiliki oleh masyarakat petani penggarap atau pemilik tanah. Rumah adat ini menyimbolkan status social
        masyarakat.
      </p>
      <h3>Tampak Depan</h3>
      <img src="https://nimadesriandani.files.wordpress.com/2010/12/jineng-4.jpg" width="500px">
      <br>
      <br>
      <h3>Tampak Samping</h3>
      <img src="https://blogpictures.99.co/Klumpu-Jineng.jpg" width="500px">
      <br>
      <br>
      <h3>Tampak Belakang</h3>
      <img src="https://www.nesabamedia.com/wp-content/uploads/2019/07/jineng-768x1024.jpg" width="500px">
    </div>

    <p>Referensi: https://depostbali.com/pendidikan/134/kebudayaan-bali-dengan-rumah-adat-klumpu-jineng</p>
  </div>

  <%- include('./includes/footer'); %>