<%- include('./includes/header'); %>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Traditional Food of Bali</h2>

<div class="row">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://asset.kompas.com/crops/czscp0bAyvfpuoYNGG2H2ivl9tU=/32x22:1000x667/750x500/data/photo/2022/02/28/621c6dd3e732b.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ayam Betutu</h5>
        <p class="card-text">Alat :<ul><li>Blender</li><li>Cobek</li></ul> Bahan :<ul><li>1 ekor ayam utuh</li><li>3 batang serai</li><li>4 lembar daun salam</li><li>1 liter air</li><li>15 butir bawang merah</li><li>7 siung bawang putih</li><li>2 buah cabe besar</li><li>13 buah cabe merah keriting</li><li>4 buah kemiri</li><li>3 cm jahe</li><li>3 cm kunyit</li><li>3 cm lengkuas</li><li>3 cm kencur</li><li>1 sdt merica utuh</li><li>1 sdt ketumbar</li><li>1 sdm garam</li><li>10g gula merah</li><li>Sayuran rebus</li><li>Kacang tanah goreng</li><li>Sambal Matah</li></ul>
            Cara : <ol><li>Cuci ayam di bawah air mengalir hingga benar-benar bersih lalu tiriskan hingga airnya kering.</li><li>Bumbu Halus: Blender atau ulek kasar bawang merah, bawang putih dan cabe merah.</li><li>Tumbuk halus kunyit, jahe, kencur, lengkuas, 1 batang serai, kemiri, merica, ketumbat, terasi, garam dan gula merah</li><li>Tumis bumbu halus hingga wangi dan matang</li><li>Tambahkan daun salam, 2 batang serai, aduk hingga layu</li><li>Masukkan bumbu yang telah di tumbuk kasar, aduk hingga matang</li><li>Tambahkan air kemudian masukkan ayam utuh</li><li>Masak dengan api kecil selama kurang lebih 90 menit hingga air rebusan bersisa susut menjadi sekitar 200ml dan ayam empuk</li><li>Hidangkan ayam betutu berserta pelengkap.</li></ol><a href="https://food.detik.com/resep-pembaca/d-5698302/resep-pembaca-resep-ayam-betutu-gilimanuk-yang-pedas-gurih-berempah"> See more</a></p>
        <a href="https://www.youtube.com/watch?v=Q1ktdbKsZyc" class="btn btn-primary">Show video</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://awsimages.detik.net.id/community/media/visual/2021/09/27/resep-sate-lilit-ikan-bali_43.jpeg?w=1200" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Sate Lilit</h5>
        <p class="card-text">Alat: <ul><li></li></ul> Bahan : <ul><li>500g daging ayam cincang</li><li>2 sdm minyak sayur</li><li>50 g bawang merah, cincang halus</li><li>20 g bawang putih, cincang halus</li><li>2 buah cabai merah</li><li>10 g jahe</li><li>10 g lengkuas</li><li>5 g kencur</li><li>5 g kunyit</li><li>1/2 sdt merica bubuk</li><li>1 butir cengkih</li><li>1/2 pala bubu</li><li>2 g ketumbar halus</li><li>2 g biji wijen putih</li><li>1/2 sdt merica</li><li>1 sdt garam</li></ul>
            Cara : <ol><li>Panaskan minyak, tumis bawang merah dan bawang putih hingga wangi.</li><li>Tambahkan rempah dan bumbu halus lainnya.Aduk hingga wangi dan layu. Angkat.</li><li>Haluskan bumbu tumis dengan blender hingga lembut.</li><li>Campurkan bumbu halus dengan daging ayam cincang. Aduk dengan tangan hingga benar-benar rata.</li><li>Tambahkan daun jeruk dan kelapa, aduk hingga rata.</li><li>Bagi adonan menjadi 12 bulatan.</li><li>Taruh bulatan adonan di ujung batang serai. Tarik ke arah bawah sambil putar adonan mengelilingi ujung atas batang serai hingga menjadi bulat panjang.</li><li>Panggang sate di atas bara api sambil balik-balik hingga matang.</li><li>Angkat, sajikan dengan sambal.</li></ol><a href="https://food.detik.com/ayam/d-5176949/resep-sate-lilit-ayam-khas-bali-yang-pedas-gurih"> See more</a></p>
        <a href="https://goo.gl/maps/Q374qi1WQ1i6Z7Kt9" class="btn btn-primary">Show video</a>
      </div>
    </div>
  </div>
</div>
<%- include('./includes/footer'); %>